body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h1 {
  font-size: 43px;
}

h2 {
  font-size: 33px;
}

p {
  font-size: 14px;
  color: #a0a0a0;
  text-align: center;
}

h5 {
  text-transform: uppercase;
}

footer {
  background-color: #f9f9f9;
}

.header {
}
.header-nav {
}
.header-nav-list {
}
.header-nav-list-item {
}

.text_next {
  font-size: 10px;
  color: black;
}

.section_desing {
  background-color: #9aa8b1;
}

.caption_design {
  color: white;
}

.text_design {
  color: white;
}

.caption_image {
  font-size: 43px;
}
