body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

footer {
  background-color: #f9f9f9;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 43px;
}

h2 {
  font-size: 33px;
}

p {
  font-size: 14px;
  color: #a0a0a0;
  text-align: center;
}

h5 {
  text-transform: uppercase;
}

.text_next {
  font-size: 10px;
  color: black;
}

.section_desing {
  background-color: #9aa8b1;
}

.caption_design {
  color: white;
}

.text_design {
  color: white;
}

.caption_image {
  font-size: 43px;
}
